# dependencies
node_modules/
.pnp
.pnp.*

# build output
dist/
.next/
out/
build/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*

# testing
coverage/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/*
!.vscode/extensions.json
.idea

# prisma
backend/generated/
